---
import Layout from '$layouts/Layout.astro';
import Navbar from '$components/navbar/Navbar.astro';
---

<Layout title="Frontend Mentor | Easybank landing page">
  <Navbar />
  <main>
    <h1>Easybank Landing Page</h1>
  </main>
</Layout>
