---
import Layout from '$layouts/Layout.astro';
import Hero from '$components/hero/Hero.astro';
import Navbar from '$components/navbar/Navbar.astro';
---

<Layout title="Frontend Mentor | Easybank landing page">
  <Navbar />
  <main>
    <Hero />
    <div style="padding-block: 90px; background-color: blue">Lorem ipsum dolor sit amet.</div>
  </main>
</Layout>
