---
import Layout from '$layouts/Layout.astro';

import Features from '$components/features/Features.astro';
import Hero from '$components/hero/Hero.astro';
import Navbar from '$components/navbar/Navbar.astro';
---

<Layout title="Frontend Mentor | Easybank landing page">
  <Navbar />
  <main>
    <Hero />
    <Features />
  </main>
</Layout>
