---
import Layout from '$layouts/Layout.astro';

import Articles from '$components/articles/Articles.astro';
import Features from '$components/features/Features.astro';
import Footer from '$components/footer/Footer.astro';
import Hero from '$components/hero/Hero.astro';
import Navbar from '$components/navbar/Navbar.astro';
---

<Layout title="Frontend Mentor | Easybank landing page">
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Articles />
  </main>
  <Footer />
</Layout>
